@page "{SelectedShipperId?}"
@model WebApp.Pages.Admin.Database.ManageShippersModel
@{
}

@*![](../../Design/ManageShippers.png)*@

<h1>Manage Shippers</h1>

<form method="post" id="editForm"></form>

<blockquote>@Model.TempFeedback</blockquote>

<table>
    <thead>
        <tr>
            <th>Action</th>
            <th>Company Name</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var company in Model.CurrentShippers)
            {
                <tr>
                    <td>
                        @if (Model.SelectedShipperId.HasValue && Model.SelectedShipperId.Value == company.ID)
                        {
                            // Edit Mode
                            <text>
                                <button type="submit" form="editForm" asp-page-handler="Update"><i class="las la-check"></i></button>
                                <button type="submit" form="editForm" asp-page-handler="Cancel"><i class="las la-times"></i></button>
                                <input type="hidden" asp-for="ShipperData.ID" value="@company.ID" form="editForm" />
                            </text>
                        }
                        else
                        {
                            // View Mode
                            <form method="post">
                                <input type="hidden" asp-for="SelectedShipperId" value="@company.ID" />
                                <button type="submit" title="Edit this shipper"><i class="las la-pencil-alt"></i></button>
                                <button><i class="lar la-trash-alt"></i></button>
                            </form>
                        }
                    </td>
                    <td>
                        @if (Model.SelectedShipperId.HasValue && Model.SelectedShipperId.Value == company.ID)
                        {
                            <input type="text" form="editForm" asp-for="ShipperData.CompanyName" value="@company.CompanyName" />
                        }
                        else
                        {
                            @: @company.CompanyName
                        }
                    </td>
                    <td>
                        @if (Model.SelectedShipperId.HasValue && Model.SelectedShipperId.Value == company.ID)
                        {
                            <input type="text" form="editForm" asp-for="ShipperData.Phone" value="@company.Phone" />
                        }
                        else
                        {
                            @: @company.Phone
                        }
                    </td>
                </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <i class="las la-plus"></i>
                <i class="las la-times"></i>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>